
.tittle {
    background: url(media/fondo_oscuro.jpg)no-repeat;
        background-attachment: fixed;
        background-size: cover;
        text-align: center;
        padding-top: 20px;
        color: #FFF;
} 

h1{
    border-radius: 25px;
        background-color: rgb(190, 22, 22);
        width: fit-content;
}

.subtitulo {
    width: fit-content;
    color: white;
    background-image: linear-gradient(rgb(226, 38, 38),rgb(104, 59, 163),rgb(230, 215, 89));
    font-weight: bold;
}

.tabble {
    background: url(media/fondo_oscuro.jpg)no-repeat;
        background-attachment: fixed;
        background-size: cover;
        text-align: center;
        padding-top: 20px;
        color: #FFF;
}

.audio {
    background: url(media/fondo_oscuro.jpg)no-repeat;
    background-attachment: fixed;
    background-size: cover;
    text-align: center;
    padding-top: 20px;
    color: #FFF;
}

.list {
    background: url(media/fondo_oscuro.jpg)no-repeat;
        background-attachment: fixed;
        background-size: cover;
        padding-top: 20px;
        color: #FFF;
}

.footer {
        background: url(media/fondo.jpg)no-repeat;
        background-attachment: fixed;
        background-size: cover;
        text-align: center;
        padding-top: 20px;
        color: #FFF;
        min-height: 100px;
    
}

/*Hemos hecho responsive nuestra página con la etiqueta media para tablets o teléfonos móviles*/
@media (max-width: 768px) {
    .head {
        flex-direction: column;
        align-items: center;
        padding: 10px;
    }

    .navbar {
        flex-wrap: wrap;
        justify-content: center;
        gap: 5px;
    }

    .header {
        height: 50vh;
    }

    .header h1 {
        font-size: 1.8rem;
    }

    .box {
        width: 90%;
        margin: 10px 0;
    }
}

@media (max-width: 480px) {
    .head {
        flex-direction: column;
        align-items: center;
    }

    .header {
        height: 40vh;
    }

    .header h1 {
        font-size: 1.5rem;
    }

    .box {
        padding: 15px;
    }

}

